:root {
  font-family: 'Space Mono', monospace;
  color-scheme: light dark;
  color: #000000;
  background-color: #ffffff;
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  .link {
    @apply text-orange-700 underline;
  }

  .input {
    @apply px-2 py-1 w-full rounded-lg uppercase text-mother-5 bg-mother-1
  }
}

.diagonalRising
{
  transform: skew(-30deg);
}

.circle {
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 1.9rem;
}

.circle-small {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: .7rem;
}

@media (min-width: 1024px) {
  .test {
    max-width: max(100vw - 50rem, 25rem);
  }
}
