:root {
  font-family: 'Space Mono', monospace;
  color-scheme: light dark;
  color: #000000;
  background-color: #ffffff;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply text-orange-700 underline;
  }

  .input {
    @apply p-2 w-full rounded-lg uppercase text-mother-5
  }
}

.diagonalRising
{
  transform: skew(-30deg);
}

.circle {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 1.8rem;
}

.circle-small {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: .7rem;
}
