:root {
  font-family: 'Space Mono', monospace;
  color-scheme: light dark;
  color: #000000;
  background-color: #ffffff;
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  .link {
    @apply text-orange-700 underline;
  }

  .input {
    @apply px-2 py-1 w-full rounded-lg uppercase text-mother-5 bg-mother-1
  }
  .diagonalRising
  {
    transform: skew(-30deg);
  }
  
  .circle {
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 1.9rem;
  }
  
  .circle-small {
    width: 1.4rem;
    height: 1.4rem;
    border-radius: .7rem;
  }
}

.session-right-part {
  position: fixed;
  left: 2rem;
  bottom: 0.5rem;
  width: 100%;
  max-width: calc(100vw - 4rem);
  height: calc(100dvh - 2rem);
}

@media (min-width: 1024px) {
  .session-right-part {
    left: 45rem;
    max-width: clamp(25rem, 100vw - 50rem, 40rem);
  }
}